//parent

$kopletter: 				$basis_kopletter;
$broodletter: 				$basis_broodletter;
$accentletter: 				$basis_accentletter;
$kleine_letter: 			$basis_kleine_letter;

// VERGEET NIET DE GOOGLE FONTS URL AAN TE PASSEN!

