//parent
$basis_wit: 		#fff;
$basis_wittig: 		#f5f5f5;
$basis_lichtgrijs: 	#CAC8C8;
$basis_grijs:		#666;
$basis_donkergrijs: #211f1f;
$basis_zwart: 		#252525;

$basis_hoofdkleur:  #C82449; //rood
$basis_zijkleur:	#F9E6B1; //geel
$basis_accentkleur: #B5DEE8; //lichtblauw