.tekst-wit {
	color: 			$wit;
}
.tekst-wittig {
	color: 			$wittig;
}
.tekst-lichtgrijs {
	color: 			$lichtgrijs;
}
.tekst-grijs {
	color: 			$grijs;
}
.tekst-donkergrijs {
	color: 			$donkergrijs;
}
.tekst-zwart {
	color: 			$zwart;
}
.tekst-hoofdkleur {
	color: 			$hoofdkleur;
}
.tekst-zijkleur {
	color: 			$zijkleur;
}
.tekst-accentkleur {
	color: 			$accentkleur;
}
.tekst-hoofdkleur-donker {
	color: 			$hoofdkleur_donker;
}
.tekst-zijkleur-donker {
	color: 			$zijkleur_donker;
}
.tekst-accentkleur-donker {
	color: 			$accentkleur_donker;
}

.achtergrond-wit {
	background-color: 			$wit;
}
.achtergrond-wittig {
	background-color: 			$wittig;
}
.achtergrond-lichtgrijs {
	background-color: 			$lichtgrijs;
}
.achtergrond-grijs {
	background-color: 			$grijs;
}
.achtergrond-donkergrijs {
	background-color: 			$donkergrijs;
}
.achtergrond-zwart {
	background-color: 			$zwart;
}
.achtergrond-hoofdkleur {
	background-color: 			$hoofdkleur;
}
.achtergrond-zijkleur {
	background-color: 			$zijkleur;
}
.achtergrond-accentkleur {
	background-color: 			$accentkleur;
}
.achtergrond-hoofdkleur-donker {
	background-color: 			$hoofdkleur_donker;
}
.achtergrond-zijkleur-donker {
	background-color: 			$zijkleur_donker;
}
.achtergrond-accentkleur-donker {
	background-color: 			$accentkleur_donker;
}