//parent
/* .archive h1 span {
	font-size: .6em;
	display: block;
} */
.archive main > footer {
	padding-top: 20px;
}

.sub-cat-lijst {
	padding: 20px;
	background-color: #f1f1f1;
}

.archief-footer {
	margin-top: 20px;
}