//parent

.search-form {
	background-color: $hoofdkleur;
	padding: 20px;
	color: white;
	display: inline-block;
	margin-bottom: 20px;
	.search-field {
		border: 0;
		padding: 4px;
		border-radius: 0;
	}
	@media (max-width: 500px) {
		display: block;
		label {
			margin-bottom: 10px;
			display: block;
			input, span {
				display: block;
			}
			span {
				margin-bottom: 4px;
			}
		}
	}
	.search-submit {
		@extend .knop;
		margin-left: 10px;
		padding-top: calc(.3em - 1px);
		padding-bottom: calc(.3em - 1px);
	}
}